@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.relative:hover .opacity-0 {
  opacity: 1;
}

.logo {
  width: 6rem; /* pas dit aan naar de gewenste breedte */
  margin: 0.7rem; /* voeg marges toe tussen de logo's */
}


/* CSS voor schermen kleiner dan 768px */
@media (max-width: 768px) {
  /* Voeg hier je CSS-regels toe voor de gewenste stijlen */
  #aboutme {
    padding-top: 5vw;
    padding-bottom: 5vw;
  }

  #experience {
    padding-top: 5vw;
    padding-bottom: 5vw;
    }

  #Projects {
    padding-top: 5vw;
    padding-bottom: 5vw;
  }

  .flex-col.md\:flex-row {
    flex-direction: column; /* Verander de flex-direction naar column voor kleinere schermen */
  }
  .w-full.px-4.md\:w-1/2 {
  width: 100%; /* Maak de breedte van de elementen 100% voor kleinere schermen */
}
  .w-full.px-4.md\:w-1/3 {
  width: 100%; /* Maak de breedte van de elementen 100% voor kleinere schermen */
}
  .mb-4.md\:mb-0 {
    margin-bottom: 10px; /* Verklein de ruimte tussen de elementen voor kleinere schermen */
  }
  .text-3xl {
    font-size: 1.5rem; /* Verklein de tekstgrootte voor kleinere schermen */
  }
  .text-xl {
    font-size: 1rem; /* Verklein de tekstgrootte voor kleinere schermen */
  }
  .rounded-2xl {
    border-radius: 10px; /* Rond de hoeken van de afbeelding af */
  }
  .w-full.h-auto {
    max-width: 100%; /* Zorg ervoor dat de afbeelding niet groter wordt dan zijn container */
    height: auto; /* Laat de hoogte automatisch aanpassen om de aspectverhouding te behouden */
  }

  .logo {
    max-width: 10vw; /* Pas de maximale breedte van de logo's aan */
    height: auto; /* Laat de hoogte automatisch aanpassen om de aspectverhouding te behouden */
    margin-bottom: 2vw; /* Voeg wat ruimte onder de logo's toe */
  }
  .Footer {
    padding-top: 5vw; /* Voeg wat ruimte boven de footer toe */
    padding-bottom: 5vw; /* Voeg wat ruimte onder de footer toe */
  }
  .h-12 {
    height: 3rem; /* Verklein de hoogte van de footer */
  }
}
